<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Melia</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
      
  </head>
  <body>
  <!--   Navigation Bar(TOP)-->
      <div class="w3-bar w3-black">
        <span class="w3-bar-item">Melia Green Farms LLP</span>
        <span class="w3-right w3-mobile">
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">About Me</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">Gallery</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">Contact</a>
    </span>
  </div>
  <!-- Showcase screen-->
  <section class="showcase">
      
      <div class="w3-container w3-center">
        <h1>Melia Green Farms LLP</h1> 
        <hr> 
        <p> Melia Green Farms presents beautiful farm houses
  </p>  
  <img src="assets/images/Home.png">
  <br>
     <button class="w3-button w3-red w3-large w3-opacity">
         Bookings Open
     </button>
      </div>
      
  </section>
  </body>
  </html>
