<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Melia</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
      
  </head>
  <body class="bg" style="background-image:url('assets/images/Home.png');">
  <!--   Navigation Bar(TOP)-->
      <div class="w3-bar w3-black">
        <span class="w3-bar-item">Melia Green Farms LLP</span>
        <span class="w3-right w3-mobile">
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">About Us</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">Gallery</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-red">Contact</a>
    </span>
  </div>
  <!-- Showcase screen-->
  <section class="showcase">
      
      <div class="w3-container w3-center">
        <h1>Melia Green Farms LLP</h1> 
        <hr> 
        <p> Melia Green Farms presents beautiful farm houses
  </p>  
<!--   <div style="background-image:url('assets/images/Home.png');"></div>
 -->  <br>
     <button class="w3-button w3-red w3-large w3-opacity">
         Bookings Open
     </button>
      </div>
      
  </section>
  </body>
  </html>
  <label>About Us</label>
<p>
Headquatered in Hyderabad, Melia Green Farms creates integarted communities around perfect natural surroudings while rising to the expectations of 
smart investors and value for money to farm house seekers bringing a new wave of nature splendor to city living since many decades.
We are a company that's routed in fullfilling the unique aspirations of the modern families.    
</p> 
<label>
    Our Vision
</label>
<p>
        Environmentally appropriate farms management ensures that ensures 
        that the harvest of fruits Timber and non Timber products maintains the environment's biodiversity productivity and ecological processes
</p>
<label>
        Location Highlights
    </label>
    <ul>
        <li>
                35 km from TSPA junction 
        </li>
        <li>
                40 km from Gachibowli Junction 
        </li>
        <li>
                2 km from regional Ring Road(RRR) 
        </li>
        <li>
                10 km from Pragati resorts
        </li>
        <li>
                4 km from Palm Exotica resorts
        </li>
        <li>
                near to Shankarpalli and chevella
        </li>
        <li>
                Connected by well developed roads
        </li>
    </ul>
    <label>
            Farmhouse highlights
        </label>
        <p>
                one bedroom plus kitchen plus hall bedroom with 1.5 ton AC 5 by 6 cot with 8 inch mattresses 
                2 bed sheets and two pillows wardrobe and light stand hall with  32 inches TV sofa furnished kitchen
        </p>
        <label>
                project highlights
            </label>
            <p>
                    entire layout has been designed as per vastu clear title spot registration income generated plantation 250 Malabar neem melia Dubai 1 year old 15 varieties of fruit plants per acre mango supporter sitafal u s i r i t h a l i n g Gavi jackfruit Laxman phal coconut sweet lime mosambi white Apple 
                    farmhouse 1 bedroom kitchen bathroom 
                    Avenue plantation and landscaping fencing for entire layout with entrance Gate gated community with 24 by 7 
                    security two car 
                    parking slots and 500 litre water tank no charges for development and maintenance well designed automatic
                     irrigation organic farming  excellent 
            </p>
<label>
        income from plantation
</label>
<p>
        income from halfacre of Malabar Neem plantation one can expect 
        around 25 lacs approximately in 5 to 6 years note on can expect 25 lacs approximately every 5 years once up to 80 years
</p>
<label>Site Address</label>
<address>
    Survey No: 311,312
    Nyalata village, Chevella Mandal,
    Ranga reddy district.
    Hyderabad
</address>
<label>Regd Office Address</label>
<address>
    H.No HIG-122, V Phase, D-Mart Lane,
    KPHB colony, Hyderabad-500019
    Ph: 09553499994,09948228669
    Email: meliagreenfarms@gmail.com
</address>