<div class="container color-dark">
  <div class="col">
    <p>A bucket list of Items</p>
  <div class="col">
    <p>Your bucket List</p>
  </div>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use the form below to add your life goal</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="life goal..">
      <input type="button" class="btn" value="Add Item">
    </form>
  <div class="col">
    <p class="life-container">I want to be a dynamic programer</p>
  </div>
  </div>
</div>